streamlit==1.46.1
langchain==0.3.26
langchain-core==0.3.68
langchain-community==0.3.27
langchain-groq==0.3.6
groq==0.30.0
faiss-cpu==1.11.0.post1
sentence-transformers==5.0.0
python-dotenv==1.1.1
pypdf2==3.0.1
