langchain==0.3.26
langchain-core==0.3.68
langchain-huggingface
langchain_community
langchain-groq==0.3.6
groq==0.30.0
streamlit==1.46.1
sentence-transformers==5.0.0
faiss-cpu==1.11.0.post1
python-dotenv==1.1.1
pypdf2==3.0.1
